{% set config = repository('\\Plugin\\TPSChatbotAI\\Entity\\Config').get() %}
{% if (config) %}
<link rel="stylesheet" href="{{ asset('TPSChatbotAI/assets/css/style.css', 'plugin') }}">
<style>
.pImage img {
    max-width: 200px;
    height: auto;
}
.pAction {
    font-size: 12px;    
}
</style>
<script>
    $(function () {
        var CHATBOTAI_WEBHOOK = "{{url('tps_chatbot_ai_convension_room')}}";
        //Widget Code
        var bot = '<div class="chatCont" id="chatCont">' +
            '<div class="bot_profile">' +
            '<img src="{{ asset('TPSChatbotAI/assets/img/chatbot_logo.png', 'plugin') }}" class="bot_p_img">' +
            '<div class="close">' +
            '<i class="fa fa-times" aria-hidden="true"></i>' +
            '</div>' +
            '</div><!--bot_profile end-->' +
            '<div id="result_div" class="resultDiv"></div>' +
            '<div class="chatForm" id="chat-div">' +
            '<div class="spinner">' +
            '<div class="bounce1"></div>' +
            '<div class="bounce2"></div>' +
            '<div class="bounce3"></div>' +
            '</div>' +
            '<input type="text" id="chat-input" autocomplete="off" placeholder="Start Typing here..."' + 'class="form-control bot-txt"/>' +
            '</div>' +
            '</div><!--chatCont end-->' +

            '<div class="profile_div">' +
            '<div class="row">' +
            '<div class="col-hgt col-sm-offset-2">' +
            '<img src="{{ asset('TPSChatbotAI/assets/img/chatbot_logo.png', 'plugin') }}" class="img-circle img-profile">' +
            '</div><!--col-hgt end-->' +
            '<!--div class="col-hgt">' +
            '<div class="chat-txt">' +
            '' +
            '</div>' +
            '</div--><!--col-hgt end-->' +
            '</div><!--row end-->' +
            '</div><!--profile_div end-->';
        $("mybot").html(bot);
        // ------------------------------------------ Toggle chatbot -----------------------------------------------
        //function to click and open chatbot from icon
        $('.profile_div').click(function () {
            $('.profile_div').toggle();
            $('.chatCont').toggle();
            $('.bot_profile').toggle();
            $('.chatForm').toggle();
            document.getElementById('chat-input').focus();
            send('/greet');
        });
        //function to click and close chatbot to icon
        $('.close').click(function () {
            $('.profile_div').toggle();
            $('.chatCont').toggle();
            $('.bot_profile').toggle();
            $('.chatForm').toggle();
        });
        // on input/text enter--------------------------------------------------------------------------------------
        $('#chat-input').on('keyup keypress', function (e) {
            var keyCode = e.keyCode || e.which;
            var text = $("#chat-input").val();
            if (keyCode === 13) {
                if (text == "" || $.trim(text) == '') {
                    e.preventDefault();
                    return false;
                } else {
                    $("#chat-input").blur();
                    setUserResponse(text);
                    send(text);
                    e.preventDefault();
                    $('#chat-input').focus();
                    return false;
                }
            }
        });
        //------------------------------------------- Call the RASA API--------------------------------------
        function send(text) {
            $.post(CHATBOTAI_WEBHOOK, {"message": text}).done(function (data, textStatus, xhr) {
                    console.log(data);
                    if (data.buttons && data.buttons.length > 0) {
                        addSuggestion(data.buttons);
                    }
                    setBotResponse([data]);
                    if (data.products && data.products.length > 0) {
                        addProduct(data.products);
                    }
                    if (data.redirect && data.redirect.length > 0) {
                        window.location.href = data.redirect;
                    }
                }).fail(
                function (xhr, textStatus, errorThrown) {
                    setBotResponse('error');
                }
            );
        }
        function addProduct(products){
            setTimeout(function () {
                if (products.length > 0) {
                    var html = '<div class="botResult pthumb">';
                    for(i = 0; i < products.length; i++) {
                        var p = products[i];
                        html += '<div class="pItem">';
                        html += '<p class="pImage"><img src="' + p.images[0] + '"/></p>';
                        html += '<p class="pName text-muted">' + p.name + ' | ₫ ' + p.price01 + '</p>';
                        html += '<p class="pAction"><button data-payload="/choose_product" data-id="'+p.product_id+'" class="btn btn-primary btn-xs">{{'front.product.add_cart' | trans}}</button></p>';
                        html += '<div class="clearfix"></div><hr>';
                    }
                    html += '</div>';
                    $(html).appendTo('#result_div');
                }
            }, 500);
        }
        //------------------------------------ Set bot response in result_div -------------------------------------
        function setBotResponse(val) {
            setTimeout(function () {

                if ($.trim(val) == '' || val == 'error') { //if there is no response from bot or there is some error
                    val = 'Sorry I wasn\'t able to understand your Query. Let\' try something else!'
                    var BotResponse = '<p class="botResult">' + val + '</p><div class="clearfix"></div>';
                    $(BotResponse).appendTo('#result_div');
                } else {

                    //if we get message from the bot succesfully
                    var msg = "";
                    for (var i = 0; i < val.length; i++) {
                        if (val[i]["image"]) { //check if there are any images
                            msg += '<p class="botResult"><img  width="200" height="124" src="' + val[i].image + '/"></p><div class="clearfix"></div>';
                        } else {
                            msg += '<p class="botResult">' + val[i].message + '</p><div class="clearfix"></div>';
                        }

                    }
                    BotResponse = msg;
                    $(BotResponse).appendTo('#result_div');
                }
                scrollToBottomOfResults();
                hideSpinner();
            }, 500);
        }
        //------------------------------------- Set user response in result_div ------------------------------------
        function setUserResponse(val) {
            var UserResponse = '<p class="userEnteredText">' + val + '</p><div class="clearfix"></div>';
            $(UserResponse).appendTo('#result_div');
            $("#chat-input").val('');
            scrollToBottomOfResults();
            showSpinner();
            $('.suggestion').remove();
        }


        //---------------------------------- Scroll to the bottom of the results div -------------------------------
        function scrollToBottomOfResults() {
            var terminalResultsDiv = document.getElementById('result_div');
            terminalResultsDiv.scrollTop = terminalResultsDiv.scrollHeight;
        }


        //---------------------------------------- Spinner ---------------------------------------------------
        function showSpinner() {
            $('.spinner').show();
        }

        function hideSpinner() {
            $('.spinner').hide();
        }




        //------------------------------------------- Buttons(suggestions)--------------------------------------------------
        function addSuggestion(textToAdd) {
            if (textToAdd) {
                setTimeout(function () {
                    var suggestions = textToAdd;
                    var suggLength = textToAdd.length;
                    $('<p class="suggestion"></p>').appendTo('#result_div');
                    // Loop through suggestions
                    for (i = 0; i < suggLength; i++) {
                        $('<span data-payload="' + suggestions[i].payload + '" class="sugg-options">' + suggestions[i].title + '</span>').appendTo('.suggestion:last-child');
                    }
                    scrollToBottomOfResults();
                }, 1000);
            }
        }


        // on click of suggestions get value and send to API.AI
        $(document).on("click", ".suggestion span, .pAction>button", function () {
            var text = $(this).data('payload');
            setUserResponse($(this).text());
            if (text == '/choose_product') {
                text = '/choose_product{\"product_id\": \"'+$(this).data('id')+'\"}';
            }
            send(text);
            $('.suggestion').remove();
        });
        // Suggestions end -----------------------------------------------------------------------------------------


    });
</script>
<mybot></mybot>
{% endif %}
